/* LETTERS */
.classroom-card-icn-a::before { background-image: url('../images/classroom-leading-icn/A.jpg'); }
.classroom-card-icn-b::before { background-image: url('../images/classroom-leading-icn/B.jpg'); }
.classroom-card-icn-c::before { background-image: url('../images/classroom-leading-icn/C.jpg'); }
.classroom-card-icn-d::before { background-image: url('../images/classroom-leading-icn/D.jpg'); }
.classroom-card-icn-e::before { background-image: url('../images/classroom-leading-icn/E.jpg'); }
.classroom-card-icn-f::before { background-image: url('../images/classroom-leading-icn/F.jpg'); }
.classroom-card-icn-g::before { background-image: url('../images/classroom-leading-icn/G.jpg'); }
.classroom-card-icn-h::before { background-image: url('../images/classroom-leading-icn/H.jpg'); }
.classroom-card-icn-i::before { background-image: url('../images/classroom-leading-icn/I.jpg'); }
.classroom-card-icn-j::before { background-image: url('../images/classroom-leading-icn/J.jpg'); }
.classroom-card-icn-k::before { background-image: url('../images/classroom-leading-icn/K.jpg'); }
.classroom-card-icn-l::before { background-image: url('../images/classroom-leading-icn/L.jpg'); }
.classroom-card-icn-m::before { background-image: url('../images/classroom-leading-icn/M.jpg'); }
.classroom-card-icn-n::before { background-image: url('../images/classroom-leading-icn/N.jpg'); }
.classroom-card-icn-o::before { background-image: url('../images/classroom-leading-icn/O.jpg'); }
.classroom-card-icn-p::before { background-image: url('../images/classroom-leading-icn/P.jpg'); }
.classroom-card-icn-q::before { background-image: url('../images/classroom-leading-icn/Q.jpg'); }
.classroom-card-icn-r::before { background-image: url('../images/classroom-leading-icn/R.jpg'); }
.classroom-card-icn-s::before { background-image: url('../images/classroom-leading-icn/S.jpg'); }
.classroom-card-icn-t::before { background-image: url('../images/classroom-leading-icn/T.jpg'); }
.classroom-card-icn-u::before { background-image: url('../images/classroom-leading-icn/U.jpg'); }
.classroom-card-icn-v::before { background-image: url('../images/classroom-leading-icn/V.jpg'); }
.classroom-card-icn-w::before { background-image: url('../images/classroom-leading-icn/W.jpg'); }
.classroom-card-icn-x::before { background-image: url('../images/classroom-leading-icn/X.jpg'); }
.classroom-card-icn-y::before { background-image: url('../images/classroom-leading-icn/Y.jpg'); }
.classroom-card-icn-z::before { background-image: url('../images/classroom-leading-icn/Z.jpg'); }

/* NUMERICS */
.classroom-card-icn-0::before { background-image: url('../images/classroom-leading-icn/0.jpg'); }
.classroom-card-icn-1::before { background-image: url('../images/classroom-leading-icn/1.jpg'); }
.classroom-card-icn-2::before { background-image: url('../images/classroom-leading-icn/2.jpg'); }
.classroom-card-icn-3::before { background-image: url('../images/classroom-leading-icn/3.jpg'); }
.classroom-card-icn-4::before { background-image: url('../images/classroom-leading-icn/4.jpg'); }
.classroom-card-icn-5::before { background-image: url('../images/classroom-leading-icn/5.jpg'); }
.classroom-card-icn-6::before { background-image: url('../images/classroom-leading-icn/6.jpg'); }
.classroom-card-icn-7::before { background-image: url('../images/classroom-leading-icn/7.jpg'); }
.classroom-card-icn-8::before { background-image: url('../images/classroom-leading-icn/8.jpg'); }
.classroom-card-icn-9::before { background-image: url('../images/classroom-leading-icn/9.jpg'); }